{% extends "base/base.html" %}

{% block content %}
<div class="container mt-5">
    <h2 class="text-center">Modifier votre commentaire</h2>
    <div class="card shadow-lg p-4">
        <form method="POST">
            {% csrf_token %}
            <div class="mb-3">
                {{ form.contenu.label_tag }}
                {{ form.contenu }}
            </div>
            <button type="submit" class="btn btn-success">Enregistrer</button>
            <a href="{% url 'blog-single' slug=commentaire.article_id.slug %}" class="btn btn-secondary">Annuler</a>
        </form>
    </div>
</div>
{% endblock %}